@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.navbar{
    max-width: 100vw;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 0;
    cursor: pointer;
}

.logo img{
    width: 70px;
    height: 70px;
}

.logo img:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

ul{
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
}

ul li:hover{
    color: rgb(100, 166, 188);
}

.username{
    width: 150px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(192, 231, 250);
    color: rgb(40, 194, 246);
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    font-family: "Intel One Mono", monospace;
    margin-right: 0;
}

.username:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.hero{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: #f4f4f4;
}

.left{
    width: 500px;
    height: 400px;
    padding: 5px;
    margin-left: 0;
    font-family: "Lato", sans-serif;
}

.left .p1{
    font-size: 40px;
    font-weight: 650;
    color: rgb(97, 95, 95);
}

.left .p1 span{
    color:rgb(29, 174, 246);
}

.left .p2{
    margin-top: 10px;
    line-height: 3vh;
}

.left button{
    margin-top: 40px;
    width: 190px;
    height: 45px;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(29, 174, 246);
    color: white;
    cursor: pointer;
}

.left button:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.right{
    width: 400px;
    height: 400px;
}

.right img{
    width: 400px;
    height: 400px;
}


.main-container {
  max-height: 100vh;
  overflow-y: auto;
}
